<!DOCTYPE html>
  <head>
    <title>Vue Basics</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>  
    <h1>Vue Basics</h1>
    <div id="app">
      <h2>{{ title }}</h2>
      <p>I earn {{ wage }} pounds per hour</p>
      <button @click="changeWage(1)">Increase wage by £1</button>
      <button @click="changeWage(-1)">Decrease wage by £1</button>
      <button @dblclick="changeWage(5)">Increase wage by £5</button>
      <button @dblclick="changeWage(-5)">Decrease wage by £5</button>
    </div>
    <script src="app.js" async defer></script>
  </body>
</html>