<!DOCTYPE html>
  <head>
    <title>Vue Basics</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>  
    <h1>Vue Basics</h1>
    <div id="app">
      <h2>{{ title }}</h2>
      <p>My Name is {{ name }}</p>
      <button @click.alt="logMessage">alt-click me</button>
      <button @click.shift="logMessage">shift-click me</button>
      <a href="http://www.google.com" @click.prevent="logMessage">Google</a>
    </div>
    <script src="app.js" async defer></script>
  </body>
</html>