<!DOCTYPE html>
  <head>
    <title>Vue Basics</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>  
    <h1>Vue Basics</h1>
    <div id="app">
      <h2>{{ title }}</h2>
      <p>My Name is {{ name }}</p>
      <input type="text" v-model="name">
    </div>
    <script src="app.js" async defer></script>
  </body>
</html>