<!DOCTYPE html>
  <head>
    <title>Vue Basics</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>  
    <h1>Vue Basics</h1>
    <div id="app">
      <h2>{{ title }}</h2>
      <p v-if="showName">Mario</p> <!--if true, age never shows-->
      <p v-else-if="showAge">25</p> <!-- if true and name is false, this shows-->

      <button @click="toggleName">ShowName: {{ showName }}</button>
      <button @click="toggleAge">ShowAge: {{ showAge }}</button>
    </div>
    <script src="app.js" async defer></script>
  </body>
</html>